<div>
  <div class="container">
    <header class="header">
      <div class="header-content">
        <lucide-icon name="tv" class="icon-tv"></lucide-icon>
        <h1>Rick and Morty</h1>
      </div>
      <p>Explorer de Personagens e Estatísticas</p>
    </header>

    <div class="tabs-container">
      <button
        (click)="setActiveTab('characters')"
        [ngClass]="activeTab === 'characters' ? 'btn-active' : 'btn-inactive'">
        Personagens
      </button>
      
      <button
        (click)="setActiveTab('charts')"
        [ngClass]="activeTab === 'charts' ? 'btn-active' : 'btn-inactive'">
        Estatísticas
      </button>
    </div>

    <div *ngIf="activeTab === 'characters'">
      <app-character-list></app-character-list>
    </div>
    
    <!-- loading -->
    <div *ngIf="isLoading" class="loading-overlay">
      <lucide-icon name="loader-2" class="spinner"></lucide-icon>
      <p>Sincronizando Multiverso...</p>
    </div>

    <div [class.hidden]="isLoading">
   </div>


    <div *ngIf="activeTab === 'charts'">
      <app-dashboard-charts 
      [characters]="characters" 
      [episodes]="episodes">
      </app-dashboard-charts>
    </div>
  </div>
</div>