.container {
  margin-top: 3rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
    
    .icon-tv { 
      color: #4ade80; 
        width: 4rem; 
        height: 3rem; 
        &::ng-deep svg {
          width: 100%;
          height: 100%;
        }
      }
    h1 { font-size: 4rem; font-weight: bold; color: white; margin: 0; }
  }
    p { color: #86efac; font-size: 1.25rem; }
}

.tabs-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;

  button {
    width: 10rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.7rem;
    font-weight: 600;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
  }

  .btn-active {
    background-color: #22c55e;
    color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .btn-inactive {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    &:hover { background-color: rgba(255, 255, 255, 0.2); }
  }
}