<div class="stats-grid">
  <div class="stats-card glassefect">
    <div class="card-header">
      <lucide-icon name="tv" class="text-green-400"></lucide-icon>
      <h2 class="stats-title">Episódios por Temporada</h2>
    </div>
    <div class="chart-container">
      <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'"></canvas>
    </div>
  </div>

  <div class="chart-container">
  <canvas baseChart
    [data]="planetChartData"
    [options]="planetChartOptions"
    [type]="'bar'">
  </canvas>
</div>
</div>