:root{
    --primary-color: #5927e4;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  min-height: 100vh; 
  background: linear-gradient(
    to bottom right, 
    #10b981, 
    #1e3a8a, 
    #581c87  
  );
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text {
    color: #10b981;
    font-size: 20px;
}

.glassefect{
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.7rem;
}


